*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.head{
    max-width: 1920px;
    min-height: 200px;
    margin: 0 auto;
}

    .head h1{
        font-size: 60px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        padding-top:50px;
        color: beige;
        margin-top: 0px;
    }
    .head h2{
        font-size: 38px;
        color: beige;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        text-align: center;
    }
.content{
    max-width: 920px;
    padding: 20px;
    margin: 0 auto;
}

.content p{
    font-size: 24px;
    color: #3d3d3d;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.benefits{
    margin-bottom: 60px;
    overflow: hidden;
        background: rgba(204, 204, 204, 0.47);
    margin-bottom: 40px;
    margin-top: 50px;
}
.benefits p{   
    font-size: 14px;
    padding-left: 10px;
}
.benefits h2{
    margin-top: 40px;
    margin-bottom: 70px;
}
.range_benefits{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #44cac3;
    margin: 30px 0;
    margin: 30px auto;
}
.promo{
    background: rgba(204, 204, 204, 0.47);
    margin-bottom: 40px;
    margin-top: 10px;
}
.promo h2{
    color: beige;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    font-size: 40px;
}
.promo .left__block, .promo .right__block{
    margin: 45px 0;
    font-size: 24px;
    color: beige;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Open Sans', sans-serif;
}
.video{
    border-radius: 50%;
    margin: 25px auto;

}

.working_unit{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #44cac3;
    margin: 30px 20px;
    font-size: 14px;
    vertical-align: top;
}

.manual{
    margin: 30px 0 70px;
}
.manual h2{
    margin: 50px 0;
}

/* ----------------------------------------------------------------- */
#landing_bg {
    background: url(/application/frontend/app/landing/img/bg-3600.jpg);
    min-height: 3600px;
    background-repeat: no-repeat;
    background-size: cover;
}
video {
    z-index: 5;
    position: relative;
}
.gallery{
    position: relative;
    z-index: 10;
}
.gallery:before{
    content: "";
    background: url(/application/frontend/app/landing/img/imac.png);
    background-repeat: no-repeat;
    background-size: 710px 513px;
    width: 705px;
    height: 561px;
    display: block;
    position: absolute;
    z-index: 5;
    top: -12px;
    left: -32px;
}
.head .header__btn-reg{
    margin: 130px 0 120px;
    background-color: #2e689a;
    border-color: #35424c;
    font-size: 20px;
}
.header__btn-in {
    position: fixed;
    right: 10px;
    top: 20px;
}